[mysqld]
user = mysql
datadir = /var/lib/mysql
socket = /run/mysqld/mysqld.sock

symbolic-links = 0

sql_mode = NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES

character-set-server = utf8
collation-server = utf8_general_ci
init-connect = 'SET NAMES utf8'

[mysqld_safe]
log-error = /var/log/mysql/mysqld.log
pid-file = /run/mysqld/mysqld.pid

[client]
default-character-set = utf8

[mysqldump]
default-character-set = utf8

[mysql]
default-character-set = utf8
